{% extends 'layout.html.twig' %}

{% block title %}
    Acceuil - {{ parent() }}
{% endblock %}

{% block navbar %}

    <ul>
        <li>Accueil Bar</li>
        <li>Gin</li>
        <li>Téquila</li>
        <li>IPA</li>
    </ul>

{% endblock %}